.navigation-pane{
  margin: 1% 1%;
    font-size: 20px;
    font-weight: bolder;
}
.logo-container {
  text-align: center;
  margin-top: 2%
}
.links-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}